body {
    font-family: 'Orbitron', sans-serif;
    background: #0a0f0d;
    color: #00ff41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
}

/* Conteneurs pour les bits et les puissances */
#bitContainer, #powersContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.bit, .power {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #222;
    border-radius: 10px;
    position: relative;
}

.bit.dragging-over {
    border: 2px dashed #00ff41;  /* Bordure indiquant la zone de dépose */
}

.bit span, .power {
    color: #00ff41;
    font-size: 24px;
    opacity: 1;
}

.bit span {
    transition: transform 0.5s ease, background-color 0.3s ease;
}

.power {
    background-color: transparent;
    font-size: 18px;
}

input, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 16px;
    width: 100%; /* Prend toute la largeur sur mobile */
    max-width: 300px;
}

button:hover {
    background-color: #00ff41;
    cursor: pointer;
}

#errorMessage {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}

#buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
}
/* Mobile Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    #bitContainer, #powersContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bit, .power {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    input, button {
        font-size: 14px;
        padding: 8px;
    }

    #buttonsContainer {
        flex-direction: column;
        width: 100%;
    }

    button {
        margin-bottom: 10px;
    }
}

/* Ultra-small screens */
@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .bit, .power {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    input, button {
        font-size: 12px;
        padding: 6px;
    }

    #buttonsContainer {
        flex-direction: column;
        width: 100%;
    }

    button {
        margin-bottom: 8px;
    }
}